.exerciseForm {
	color: var(--white);
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper {
	max-width: 50rem;
	width: 100%;

	border-radius: 1rem;
	border: 1px solid white;
	padding: 1.8rem 2rem;
}

.exerciseHeading {
	margin-bottom: 3.2rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.fieldContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}

.inputShort {
	max-width: 10rem;
	width: 100%;
	padding: 0.8rem 1rem;
	font-size: 1.4rem;
	background-color: var(--light-dark);
	color: #fff;
	border: 1px solid var(--border);
	border-radius: 0.5rem;

	&:focus {
		outline: 1px solid lightyellow;
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
